.grid-container *{
    box-sizing: border-box;
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    /*-- our gutter -- */
    padding: 12px;
    background-color: #8C489F;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.wrapper, .wrapper *{
    outline: 1px solid #C3C3E5;
}


/*-- some extra column content styling --*/
[class*='col-'] > p {
 background-color: #F1F0FF;
 padding: 0;
 margin: 0;
 text-align: center;
 color: #443266;
}
